body {
  background-color: #3A3A3A;
  color: white;
}

h1 {
  font-size: 80;
  font-weight: bold;
  font-family: 'Gloria Hallelujah', sans-serif;
  text-align: center;
}

h4 {
  text-align: center;
}

.page-header {
  border-bottom: none;
}

.info-button {
  text-color: black;
  text-align: center;
  margin: auto;
}

.form-search {
  text-align: center;
  width: 50%;
  margin: auto;
}
