<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Stacker">

  <title>Stacker (Working Title)</title>

  <!-- Imported Fonts -->
<link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">

  <!-- Imported CSS -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>

  <!-- Custom CSS -->
  <type="text/css" href="{{url_for('static', filename='index.css')}}"/>
  <!-- The below line is redundant, but kept temporarily for the Atom live HTML plugin -->
  <link rel="stylesheet" href="../static/index.css"/>

  <!-- Custom JS -->
  <script src="{{url_for('static', filename='app.js')}}"></script>

  <!-- Imported JavaScript -->
  <!-- Bootstrap -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <!-- Javascript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<html>

  <body>

    <div class="page-header">
      <h1>Stacker</h1>
      <h4>Because you knew you were going to end up here anyway...</h4>
    </div>
    <div class="container">
      <div class="row">
        <div class="span12">
          <form class="form-search">
            <div class="input-group input-group-lg">
              <input type="text" name="search" class="form-control" placeholder="Enter a Question">
              <span class="input-group-addon" id="sizing-addon1">
                <!-- replace the line below with an actual button later -->
                <a href="PLACEHOLDER">Submit</a>
            </span>
            </div>
          </form>
        </div>
      </div>
    </div>

  </br>
  </br>
  <button type="button" class="btn btn-secondary info-button">What is this?</button>

  </body>

</html>
